body {
    background-repeat: no-repeat;
	width: 65%;
	font: 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 200px;

}
div.signature {
text-align: center;
font-family: cursive;
font-size: 50px;
height: 50px;
margin-top: 30px;
margin-bottom: 10px;
}
.nav{
    padding: 0;
    width: 70%;
    text-decoration: none;
    color: #555;
    letter-spacing: 1px;
    list-style:none;
    margin: auto;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: center;
}
.nav li{
    display: inline-block;
}
.nav a{
    display: inline-block;
    text-decoration: none;
    padding:10px;
    margin:0 -3px;
    text-align: center;
    color: #888;
}
a:hover{
    background: white;
    color: #222;
}
img.banner{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.clear{
    clear: both;
}
h1{
    font-family: cursive;
    font-size: 35px;
    text-align: center; 
}
div.aboutme{
    text-align: center;
}
footer{
    bottom:0;
    font-size: 10px;
    color: #222;
}